

body {
  width: 100%;
  background-image:url(''../Images/background.jpg'');
}

#board {
	margin: 10px auto;
	width: 800px;
}

.heading {
  text-align: center;
  font-family: 'Crafty Girls', cursive;
  font-size: 60px;
}

table {
  margin: 0px auto;
}

.cell {
	border: 1px solid black;
	width: 150px;
	height: 150px;
  border-radius: 75px;
  opacity: .75;
  box-shadow: 2px 2px 0px #888888
}



.hover {
  background-color: #aaa;
}

.blue {
  background-color: #578dd6;
}

.green {
  background-color: #25ce8e;
}

#player1 {
  color: #25ce8e;
  font-family: 'Crafty Girls', cursive;
  text-align: left;
  font-size: 20px;
  margin-left: 20px;

}

#player2 {
  color: #578dd6;
  font-family: 'Crafty Girls', cursive;
  text-align: right;
  font-size: 20px;
  margin-right: 20px;
  padding-left: 20px;
}

.players{
  display: block;
}
