
// ________
body {
  width: 100%;
  background-image:url(''../Images/background.jpg'');
}

#board {
	margin: 10px auto;
	width: 800px;
}

.heading {
  text-align: center;
  font-family: 'Crafty Girls', cursive;
  font-size: 50px;
}

table {
  margin: 0px auto;
}

.cell {
	border: 1px solid black;
	width: 150px;
	height: 150px;
  border-radius: 75px;
  opacity: .75;
  box-shadow: 2px 2px 0px #888888
}

h3 {
  text-align: center;
}

.hover {
  background-color: #aaa;
}

.blue {
  background-color: #578dd6;
}

.green {
  background-color: #25ce8e;
}
