body {
  background-color: orange;
}
h1 {
  text-align: center;
}

.square{
    width:100px;
    height:100px;

}

td {
  text-align: center;
  font-size: 20px;
}

#board{
  margin-left: 450px;
  margin-top: 50px;
}

.vert{
    border-left:2px solid #fff;
    border-right:2px solid #fff;
}

.horiz{
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
}
